.navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  align-items: center;






  &__icons{
    display: inline-flex;
    gap: 27px;
    align-items: center;

    @include for-tablets{
      gap: 36px;
    }
  }

}
