.navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  align-items: center;

  &__logo {
    height: 16px;

  }

  &__icons{
    display: flex;
    gap: 26px;
    align-items: center;


    &__phone {
      height: 18px;
      width: 18px;
    }

    &__menu {
      height: 18px;
      width: 18px;
    }
  }

}
