.navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  align-items: center;

  &__logo {
    height: 16px;

  }

  &__icons{
    display: inline-flex;
    gap: 26px;
    align-items: center;
  }

}
