.phone {
  display: flex;
  align-items: center;

  &__label {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  color: $font-color;
  font-size: 12px;
  letter-spacing: 2px;
  position: absolute;
  transform: translateX(calc(-100% - 20px));

  }

  &__icon{
    width: 18px;
    height: 18px;

    @include for-tablets {
      width: 24px;
      height: 24px;
    }
  }

  &:not(:hover) &__label {
    @include visuall-hidden;
  }


}
