$c-gray: #eee;
$background-accent: #f9f9f9;
$background-accent-2: #fcfaef;
$button-hover: #1b2129;
$button-default: #f98921;
$button-pressed: #010810;
$input-default-back: #f9f9f9;
$input-hover-border: #dbdbdb;
$input-pressed-border: #f98921;
$font-color: #1b2129;
$title-color: #fff;
$button-text-color: #fff;
$color-label-contact-info: #9393A3;
$color-back-about: #FCFAEF;
